$font-heder-title: "Fredoka One", "Helvetica", "Arial", sans-serif;
$font-btn: "Roboto", "Helvetica", "Arial", sans-serif;

$main-color: white;
$sub-color: grey;
$title: red;
$titleModal: white;
$price: blue;
$close: white;
$closeHover: red;
$backgroundColor: white;
$btnBackgroundColor: green;
$productColor: rgba(0, 0, 0, 0.87);
$productColorHover: rgba(0, 0, 0, 0.24);
$backgroundColorModalBody: rgba(0, 0, 0, 0.3);