$font-heder-title: "Fredoka One", "Helvetica", "Arial", sans-serif;
$font-btn: "Roboto", "Helvetica", "Arial", sans-serif;

$btn: white;
$price: blue;
$discount: grey;
$title: red;
$titleModal: white;
$close: white;
$closeHover: red;
$backgroundColor: white;
$backgroundColorModalBody: rgba(0, 0, 0, 0.3);
$productColor: rgba(0, 0, 0, 0.87);
$productColorHover: rgba(0, 0, 0, 0.24);