@import '../global/fonts.scss';
@import '../global/variables.scss';

.headerStyled {
    display: flex;
    justify-content: space-between;
    padding-left: 24px;
    padding-right: 24px;
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    background-color: $btn;
    position: relative;
    align-items: center;
    min-height: 130px;
    top: 0;
    left: auto;
    position: fixed;
    width: 100%;
    z-index: 99;
    box-sizing: border-box;

    &__Heading {
        font-family: $font-heder-title;
        font-size: 50px;
        font-weight: 400;
        text-transform: uppercase;
        text-align: center;
        color: $title;
    }    
}

@media (max-width: 600px) {
    .headerStyled {
        flex-direction: column;
        margin: 0;
        padding: 10px;
    }
}