$align-items-center: center;
$text-transform: uppercase;
$color-hover: #57A4A4;
@mixin flexible () {
    display: flex;
    justify-content: center;
    align-items: $align-items-center; 
}

.menu {
    @include flexible ();    
    flex-direction: row;
    padding: 45px 0 51px 0;
    &__button {
        display: none;
    }
    &__item {
        display: inline-block;
        align-items: $align-items-center;
        padding: 0 30px;
        font-size: 11px;
        line-height: 22px;
        text-transform: $text-transform;
        text-decoration: none;
        &:hover {
            color: $color-hover;
        }
    }

    body {
        width: 100%;
        height: 100%;
        
        &.overflow {
          overflow: hidden;
        }
      }
}